# Data Cleaning Process - SBA laon dataset

In [1]:
#importing required libraries
import pandas as pd
import numpy as np
import datetime

In [2]:
#import the data

sbadata = pd.read_csv("C:/Users/athir/Desktop/Microsoft Virtual Hackathon 2021/Round 1/SBAnational/SBAnational.csv", low_memory = False)

In [4]:
sbadata.head()

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,...,N,Y,NaN,28-Feb-99,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,...,N,Y,NaN,31-May-97,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,...,N,N,NaN,31-Dec-97,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,...,N,Y,NaN,30-Jun-97,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,N,N,NaN,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"

In [5]:
#checking the dimensions of the dataset
sbadata.shape

(899164, 27)

In [6]:
#check for null values in the dataset
sbadata.isnull().sum()

LoanNr_ChkDgt             0
Name                     14
City                     30
State                    14
Zip                       0
Bank                   1559
BankState              1566
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                136
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4528
LowDoc                 2582
ChgOffDate           736465
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

In [7]:
#Remove all the null values from the dataset - not using any imputing method at this stage as data 
#is large enough to decide which imputing method will be worth to go ahead with. So we remo
sbadata.dropna(subset= ['Name','City','State','BankState','Bank', 'NewExist','RevLineCr','LowDoc','DisbursementDate','MIS_Status'], inplace = True)

In [8]:
#checking for null values again
sbadata.isnull().sum()

LoanNr_ChkDgt             0
Name                      0
City                      0
State                     0
Zip                       0
Bank                      0
BankState                 0
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                  0
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr                 0
LowDoc                    0
ChgOffDate           725369
DisbursementDate          0
DisbursementGross         0
BalanceGross              0
MIS_Status                0
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

In [9]:
#Checking the datatype for each variable in the dataset
sbadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 886240 entries, 0 to 899163
Data columns (total 27 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   LoanNr_ChkDgt      886240 non-null  int64
 1   Name               886240 non-null  object
 2   City               886240 non-null  object
 3   State              886240 non-null  object
 4   Zip                886240 non-null  int64
 5   Bank               886240 non-null  object
 6   BankState          886240 non-null  object
 7   NAICS              886240 non-null  int64
 8   ApprovalDate       886240 non-null  object
 9   ApprovalFY         886240 non-null  object
 10  Term               886240 non-null  int64
 11  NoEmp              886240 non-null  int64
 12  NewExist           886240 non-null  float64
 13  CreateJob          886240 non-null  int64
 14  RetainedJob        886240 non-null  int64
 15  FranchiseCode      886240 non-null  int64
 16  UrbanRural         886240 non-null  int64
 17  RevLineCr          886240 non-null  object
 18  LowDoc             886240 non-null  object
 19  ChgOffDate         160871 non-null  object
 20  DisbursementDate   886240 non-null  object
 21  DisbursementGross  886240 non-null  object
 22  BalanceGross       886240 non-null  object
 23  MIS_Status         886240 non-null  object
 24  ChgOffPrinGr       886240 non-null  object
 25  GrAppv             886240 non-null  object
 26  SBA_Appv           886240 non-null  object
dtypes: float64(1), int64(9), object(17)
memory usage: 189.3+ MB

In [10]:
#All the integer and float values are detected as object.
#One reason was the float varible in the data were in this format: $60,0000
#To remove dollar and commas from the float varibles
sbadata[['DisbursementGross', 'BalanceGross', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv']] = sbadata[['DisbursementGross', 'BalanceGross', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv']].applymap(lambda x:x.strip().replace('$','').replace(',',''))

In [11]:

#ApprovalFY should be int but it is coming as an object
sbadata['ApprovalFY'].apply(type).value_counts()
sbadata['ApprovalFY'].unique()

array(['1997', '1980', '2006', '1998', '1999', '2000', '2001', '1972',
       '2003', '2004', '1978', '1979', '1981', '2005', '1982', '1983',
       '1973', '1984', '2007', '1985', '1986', '1987', '2008', '1988',
       '2009', '1989', '1991', '1990', '1974', '2010', '2011', '1992',
       '1993', '2002', '2012', '2013', '1994', '2014', '1975', '1977',
       '1976', '1968', '1976A', '1969', '1995', '1970', '1996', '1971'],
      dtype=object)

In [12]:
#Approval FY had some data discrepecies such as 1967A
def cleanstr(x):
    if isinstance(x, str):
        return x.replace('A','')
    return x

sbadata['ApprovalFY'] = sbadata['ApprovalFY'].apply(cleanstr).astype('int64')
sbadata['ApprovalFY'].unique()

array([1997, 1980, 2006, 1998, 1999, 2000, 2001, 1972, 2003, 2004, 1978,
       1979, 1981, 2005, 1982, 1983, 1973, 1984, 2007, 1985, 1986, 1987,
       2008, 1988, 2009, 1989, 1991, 1990, 1974, 2010, 2011, 1992, 1993,
       2002, 2012, 2013, 1994, 2014, 1975, 1977, 1976, 1968, 1969, 1995,
       1970, 1996, 1971], dtype=int64)

In [13]:
#Converting other columns to correct datatype
sbadata = sbadata.astype({'Zip': 'str', 'NewExist': 'int64', 'UrbanRural': 'str', 'DisbursementGross': 'float', 'BalanceGross': 'float',
                          'ChgOffPrinGr': 'float', 'GrAppv': 'float', 'SBA_Appv': 'float'})

In [14]:
#Converting the MIS_status (target column) to binary 
sbadata['loan_status'] = np.where(sbadata['MIS_Status'] == "P I F", 0, 1)

In [15]:
#The data had NAICS code. The first two digits of the code belongs to specific industry
#So the first two integers were extracted and mapped to appropriate industry
sbadata['Industry'] = sbadata['NAICS'].astype('str').apply(lambda x:x[:2])
sbadata['Industry'] = sbadata['Industry'].map({
    '11': 'Ag/For/Fish/Hunt',
    '21': 'Min/Quar/Oil_Gas_ext',
    '22': 'Utilities',
    '23': 'Construction',
    '31': 'Manufacturing',
    '32': 'Manufacturing',
    '33': 'Manufacturing',
    '42': 'Wholesale_trade',
    '44': 'Retail_trade',
    '45': 'Retail_trade',
    '48': 'Trans/Ware',
    '49': 'Trans/Ware',
    '51': 'Information',
    '52': 'Finance/Insurance',
    '53': 'RE/Rental/Lease',
    '54': 'Prof/Science/Tech',
    '55': 'Mgmt_comp',
    '56': 'Admin_sup/Waste_Mgmt_Rem',
    '61': 'Educational',
    '62': 'Healthcare/Social_assist',
    '71': 'Arts/Entertain/Rec',
    '72': 'Accom/Food_serv',
    '81': 'Other_no_pub',
    '92': 'Public_Admin'
})

In [16]:
#Franchise code had multiple values so that was converted to a 0 and 1 format
sbadata['IsFranchise'] = np.where(sbadata['FranchiseCode'] <=1, 0, 1)

In [17]:
# this columns signifies whether the business is a new one or an existing old one
sbadata['NewExist'].value_counts()

1    636139
2    249080
0      1021
Name: NewExist, dtype: int64

In [18]:
#1 signifies new and 2 signifies existing old business and 0 signifies unknown
#so filtered the data based on 1 and 2 as there were enough rows for a proper analysis
sbadata = sbadata[(sbadata['NewExist'] == 1) | (sbadata['NewExist'] == 2)]

In [19]:
#similar steps were performed for Lowdoc. LowDoc is a program that customer goes through before the loan is approved. 
#The customers who been through lowdoc program are considered to repay the loan on time.

sbadata['LowDoc'].value_counts()
sbadata = sbadata[(sbadata['LowDoc'] == 'Y') | (sbadata['LowDoc'] == 'N')]

In [20]:
sbadata['RevLineCr'].value_counts()
sbadata = sbadata[(sbadata['RevLineCr'] == 'Y') | (sbadata['RevLineCr'] == 'N')]

In [21]:
sbadata['LowDoc'] = np.where(sbadata['LowDoc'] == 'Y',1,0)
sbadata['RevLineCr'] = np.where(sbadata['RevLineCr'] == 'Y',1,0)

In [22]:
sbadata.shape

(610187, 30)

In [24]:
#convert all the dates to datetime
sbadata['ApprovalDate'] = pd.to_datetime(sbadata['ApprovalDate'])

In [25]:
sbadata['DisbursementDate'] = pd.to_datetime(sbadata['DisbursementDate'])

In [26]:
# Year to filter the data 
sbadata['DisbursementFY'] = sbadata['DisbursementDate'].map(lambda x:x.year)

In [27]:
#Real estate
sbadata["backed_realestate"] = np.where(sbadata['Term'] >= 240,1,0)

In [28]:
#The dataset covered a timeframe when recession was going on.
#which can be a good parameter to add as any such uncertain events 
#can be captured as well while predicting the defaulted customer
sbadata["Recession"] = np.where(((sbadata['DisbursementFY']) >= 2007 & (sbadata['DisbursementFY'] <= 2009)) | 
                                     ((sbadata['DisbursementFY'] < 2007) & (sbadata['DisbursementFY'] + (sbadata['Term']/12) >= 2007)), 1, 0)

In [29]:
#According to human assumotion there will be really low chance of customer getting defaulted if they live in the same state
sbadata['same_state'] = np.where(sbadata['State'] == sbadata['BankState'], 1,0)
sbadata['UrbanRural'].value_counts()

1    292681
0    252592
2     64914
Name: UrbanRural, dtype: int64

In [30]:
#Exported the cleaned data 
sbadata.to_csv("CleanedData.csv")

# End of this task. Moving on to Microsoft Azure ML studio.